{% extends 'base.html.twig' %}

{% block title %} Poser une question {% endblock %}

{% block body %}
    {% include ('home/partials/_nav.html.twig') %}

    <h1 class="form_ask_title text-light px-3 mt-5"> Posez votre question </h1>
    {{ form_start(form_ask_question)}}
    <div class="form_ask_question m-3">
        {{ form_rest(form_ask_question)}}
        <button class="btn btn-primary">
            Partager
        </button>
    </div>
        {{ form_end(form_ask_question) }}

        {% include ('home/partials/_footer.html.twig') %}
{% endblock %}
