{% extends 'base.html.twig' %}

{% block title %} Poser une question {% endblock %}

{% block body %}
     <div class="">
    <a href="{{path('question_form')}}">
        <i class="">
        <span> Poser une question </span>
    </a>
    <ul class="sidebar_nav py-3"> 
        <a class="side_active"> Liste des questions </a>
        <a> Mes questions </a>
        <a> Mes réponses</a>
    </ul>
</div>

{{ form(form_ask_question) }}
{% endblock %}
