    <footer class="d-flex justify-content-center">
      <div class="footer_content d-flex">
        <p class="footer_infos text-light fs-3 px-3"> © Les grands procès, 2022 </p>
      </div>
    </footer>