 <nav> 
      <div class="menu-icon">
        <span class="fas fa-bars"></span>
      </div>

      <div class="logo">Les grands procès</div>

      <div class="nav-items">
        <li><a href="{{path('home')}}">Accueil</a></li>
        <li><a href="{{path('forum')}}">Forum</a></li>
        <li><a href="#">S'inscrire</a></li>
        <li><a href="#">Se connecter</a></li>
      </div>

      <div class="search-icon">
        <span class="fas fa-search"></span>
      </div>

      <div class="cancel-icon">
        <span class="fas fa-times"></span>
      </div>

      <form action="#">
        <input type="search" class="search-data" placeholder="Recherche par articles de presse" required>
        <button type="submit" class="fas fa-search"></button>
      </form>
</nav> 