<div class="sidebar_container mt-3 border">
    <a href="{{path('question_form')}}">
        <i class="fa-solid fa-circle-question"></i>
        <span class=""> Poser une question </span>
    </a>
    <ul class="sidebar_nav py-3"> 
        <li class="side_active"> Liste des questions </li>
        <li> Mes questions </li>
        <li> Mes réponses</li>
    </ul>
</div>