{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% include ('home/partials/_nav.html.twig') %}

<div class="mt-5 login_container container-fluid d-flex justify-content-center text-light">
  <form method="post" class="col-xl-5 col-lg-6 col-md-8 col-sm-12 border form_login">
      <h2 class="py-3 d-flex justify-content-center">Connexion</h2>
      <div class="form-row row py-3 m-0">
        <label for="inputEmail" class="d-flex justify-content-center m-0 fs-4 col-4">Votre email : </label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="col-6" required autofocus>
      </div>
      <div class="form-row row py-3 m-0">
        <label for="inputPassword" class="d-flex justify-content-center m-0 fs-4 col-4 fs-4">Mot de passe :</label>
        <input type="password" name="_password" id="password" class="col-6" required>
      </div>
      <div class="form-row py-3">
        <label class="col-4 d-flex justify-content-center">
          <input type="checkbox" name="_remember_me" class="mx-2"> Se souvenir de moi
        </label>
      </div>
      {% if error %}
      <ul class="form-errors">
        <li>{{ error.messageKey|trans(error.messageData, 'security') }}</li>
      </ul>
      {% endif %}
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="btn_login_container p-3 px-5">
      <button class="btn btn-primary" type="submit">
        Connexion
      </button>
      <small>
        <a href="{{ path('signup') }}" class="px-2">Vous n'avez pas encore de compte ?</a>
      </small>
    </div>
  </form>
</div>
{% endblock %}