{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <div class="signup_form">
        <h2 class="signup_inscription"> Inscription </h2>
        {{form_start(sign_up_form)}}
        {{form_rest(sign_up_form)}}
        <button class="inscription_btn">S'inscrire </button>
        {{form_end(sign_up_form)}}
    </div>
{% endblock %}
