{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
    <div class="">
    <a href="{{path('question_form')}}">
        <i class="">
        <span> Poser une question </span>
    </a>
    <ul class="sidebar_nav py-3"> 
        <li class="side_active"> Liste des questions </li>
        <li> Mes questions </li>
        <li> Mes réponses</li>
    </ul>
</div>
{% endblock %}
