{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
    <div class="">
    <button class="">
        <i class="">
        <span> Poser une question </span>
    </button>
    <ul class="sidebar_nav py-3"> 
        <li class="side_active"> Liste des questions </li>
        <li> Mes questions </li>
        <li> Mes réponses</li>
    </ul>
</div>
{% endblock %}
